* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$graphic-text: hsl(167, 40%, 24%);
$photo-text: hsl(198, 62%, 26%);
$footer: hsl(168, 34%, 41%);

$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

$barlow: "Barlow", sans-serif;
$fraunces: "Fraunces", serif;

header {
  background: url(../images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    font-family: $barlow;
    font-weight: 600;

    ul {
      display: none;
      justify-content: space-between;
      align-items: center;

      li {
        list-style-type: none;

        a {
          text-decoration: none;
          color: black;
        }
      }

      li:last-child {
        transition: 1s;
      }

      li:last-child a {
        font-family: $fraunces;
      }
    }

    .toggle-btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .show {
      display: block;
    }

    .menu-collapse {
      position: absolute;
      width: 90%;
      text-align: center;
      padding: 20px 0;
      background-color: $white;

      li {
        padding: 16px;
      }

      li:last-child a {
        background-color: $yellow;
        padding: 10px 12px;
        border-radius: 22px;
      }
    }
  }

  .header-content {
    text-align: center;
    color: $white;

    h1 {
      font-family: $fraunces;
      font-weight: 900;
      letter-spacing: 2px;
      font-size: 3rem;
      margin: 80px 0;
    }
  }
}

main {
  #content {
    .content-wrapper {
      .text-wrapper {
        text-align: center;
        padding: 5rem 1rem;

        h1 {
          font-family: $fraunces;
          font-weight: 900;
          font-size: 2rem;
          margin-bottom: 20px;
        }

        p {
          font-family: $barlow;
          font-weight: 600;
          opacity: 50%;
          margin-bottom: 30px;
        }

        a {
          text-decoration: none;
          color: black;
          font-family: $fraunces;
          font-weight: 700;
          font-size: 1.2rem;
        }

        .yellow {
          border-bottom: $yellow solid 3px;
        }

        .yellow:hover {
          border-bottom: $yellow solid 8px;
        }

        .red {
          border-bottom: $soft-red solid 3px;
        }

        .red:hover {
          border-bottom: $soft-red solid 8px;
        }
      }

      .img-transform {
        background: url(../images/mobile/image-transform.jpg) center;
      }

      .img-stand {
        background: url(../images/mobile/image-stand-out.jpg);
      }

      .img-transform,
      .img-stand {
        background-size: cover;
        height: 300px;
      }

      .graph {
        background: url(../images/mobile/image-graphic-design.jpg);
        color: $graphic-text;
      }

      .photo {
        background: url(../images/mobile/image-photography.jpg);
        color: $photo-text;
      }

      .graph,
      .photo {
        display: flex;
        justify-content: center;
        background-size: cover;
        height: 600px;

        .text-wrapper {
          align-self: flex-end;
          text-align: center;
          width: 15rem;
          width: 60rem;
        }
      }
    }
  }

  #testimonials {
    padding: 5rem 2rem;
    text-align: center;

    .client-tittle {
      font-family: $fraunces;
      color: $very-dark-desaturated-blue;
      opacity: 50%;
      font-size: 1rem;
      letter-spacing: 5px;
      margin-bottom: 4rem;
    }

    .testimonials-wrapper {
      .card {
        margin-bottom: 4rem;

        .client-img {
          width: 80px;
          height: 80px;
          border-radius: 100%;
        }

        .review {
          padding: 2rem 0;
          font-family: $barlow;
          font-weight: 600;
          color: $very-dark-grayish-blue;
        }

        .client-info {
          .client-name {
            font-family: $fraunces;
            font-weight: 900;
            color: $very-dark-desaturated-blue;
            margin-bottom: 15px;
          }

          .client-position {
            font-family: $barlow;
            color: $grayish-blue;
            font-size: 16px;
          }
        }
      }
    }
  }

  #gallery {
    .gallery-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .gallery-wrapper > div {
      height: 200px;
    }

    .gallery-wrapper {
      .item-1 {
        background: url(../images/mobile/image-gallery-milkbottles.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .item-2 {
        background: url(../images/mobile/image-gallery-orange.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .item-3 {
        background: url(../images/mobile/image-gallery-cone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .item-4 {
        background: url(../images/mobile/image-gallery-sugar-cubes.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    }
  }
}

footer {
  background-color: hsl(167, 48%, 72%);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .brand {
    svg {
      transform: scale(1.5);

      path {
        fill: $footer;
      }
    }
  }

  .footer-nav {
    padding: 3rem 0;
    width: 100%;
  }

  .social {
    padding: 1.5rem 0;
    width: 60%;

    a {
      font-size: 1.5rem;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: $footer;
        font-family: $barlow;
        font-weight: 700;
      }

      a:hover {
        color: white;
      }
    }
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    padding: 20px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

@import "tablet";
@import "desktop";
